@import "tailwindcss";
/* Texto claro y oscuro */
body {
  @apply text-[#0a192f] dark:text-white;
}

/* Botón para modo claro */
.btn-light {
  @apply border border-[#0a192f] text-[#0a192f] bg-white/10 hover:bg-[#0a192f]/10 transition rounded px-2 py-1 text-sm;
}

/* Botón para modo oscuro */
.btn-dark {
  @apply border border-white/30 text-white hover:bg-white/10 transition rounded px-2 py-1 text-sm;
}

/* Boton sin borde */

.btn-light-2 {
  @apply   hover:bg-[#000]/10 transition rounded-xl px-2 py-1 text-sm;
}
.btn-dark-2{
  @apply  hover:bg-[#fff]/10 transition rounded-xl px-2 py-1 text-sm;
}



/* NAVBAR – MODO CLARO */
.navbar-light {
  @apply bg-white/10 border border-[#0a192f]/40 backdrop-blur-xl shadow-xl rounded-xl transition-colors duration-300;
}

/* NAVBAR – MODO OSCURO */
.navbar-dark {
  @apply bg-[#0a192f]/40 border border-white/20 backdrop-blur-xl shadow-xl rounded-xl transition-colors duration-300;
}


/* SIDEBAR - MODO CLARO */
.sidebar-light {
  @apply bg-white/10 border border-[#0a192f]/40 backdrop-blur-lg shadow-lg rounded-xl transition-colors duration-300;
}

/* SIDEBAR - MODO OSCURO */
.sidebar-dark {
  @apply bg-[#0a192f]/40 border border-white/20 backdrop-blur-lg shadow-lg rounded-xl transition-colors duration-300;
}



/* MENU MOBILE - MODO CLARO */
.menu-light {
  @apply bg-white/30 border border-[#0a192f]/40 backdrop-blur-lg shadow-lg rounded-xl transition-colors duration-300 text-slate-800;
}

/* MENU MOBILE - MODO OSCURO */
.menu-dark {
  @apply bg-[#0a192f]/40 border border-white/20 backdrop-blur-lg shadow-lg rounded-xl transition-colors duration-300 text-white;
}


/* Modal en modo claro */
/* Estilo base para el modal en modo claro */
.modal-light {
  @apply bg-white/30 text-slate-800 border border-slate-300/40 backdrop-blur-md rounded-2xl p-6 shadow-2xl;
}

/* Estilo base para el modal en modo oscuro */
.modal-dark {
  @apply bg-[#0a192f]/40 text-white border border-white/20 backdrop-blur-md rounded-2xl p-6 shadow-2xl;
}

/* Inputs (modo claro) */
.input-light {
  @apply w-full px-4 py-2 rounded-md border bg-white/30 text-slate-800 placeholder-slate-500 border-slate-300 focus:outline-none focus:ring;
}

/* Inputs (modo oscuro) */
.input-dark {
  @apply w-full px-4 py-2 rounded-md border bg-white/10 text-white placeholder-gray-300 border-white/20 focus:outline-none focus:ring;
}

/* Enlace Telegram */
.telegram-link-light {
  @apply text-sm underline text-blue-600;
}
.telegram-link-dark {
  @apply text-sm underline text-blue-300;
}

